{% extends 'layout.html' %}

{% block body %}
  <h1>dashboard<small>welcome {{session.username}}</small></h1>
  <h1>Categories</h1>
  <ul class="list-group">
    {% for category in categories%}
    <li class="list-group-item"><a href="/catalog/{{category}}/items">{{category}}</a></li>
    {% endfor %}
  </ul>
  <h1>Latest Items</h1>
  <ul class="list-group">
    {% for latest_item in latest_items%}
    <li class="list-group-item"><a href="/catalog/{{latest_item.id}}">{{latest_item.title}}</a>({{latest_item.category}})</li>
    {% endfor %}
  </ul>
  <a href="/catalog/add_item" class="btn btn-success">Add Item</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <td>ID</td>
      <td>TITLE</td>
      <td>CATEGORY</td>
      <td>CREATE DATE</td>
      <td></td>
    </tr>
    {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{item.title}}</td>
        <td>{{item.category}}</td>
        <td>{{item.create_date}}</td>
        <td><a href="/catalog/edit_item/{{item.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td><a href="/catalog/delete_item/{{item.id}}" class="btn btn-danger">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
